
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
               
            </div>
            <div class="footer-links">
               
            </div>
        </div>
        <div class="footer-info">
            
            <p>&copy; 2023 My Portfolio.</p>
            <p> Toronto, Canada</p>
            <p>Email: dyusuf5@my.centennialcollege.ca</p>
        </div>
    </footer>
    
  