
<%- include('../partials/header') %>

<!--Deqa Yusuf   Student: 301320314-->
<!--Date: October 8th, 2023 -->

<!-- MAIN -->
<h1>About Me:</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<img src="/images/photo.png" class="left-image">
<div class="container">

   
    <!-- MISSION -->

    <p>My mission is to create innovative and user-friendly web applications that solve real-world problems, provide value to users, and demonstrate my passion for web development.</p>

    <p>My name is Deqa Yusuf, I am a 2nd year student at centennial college in the Software Engineering AI Program. I have previously worked in the IT world, and now I am working towards a career change in web development. I am interested in solving real world problems, while demonstrating my passion for web development.</p>

    <!-- RESUME DOWNLOAD -->
     <p>To download my resume, you can <a href="/Deqa Yusuf- Resume.pdf" target="_blank">click here</a>.</p>


</div>

<!-- SOCIAL ICONS -->

<div class="social-icons">
    <a href="https://github.com/your-username" target="_blank" class="icon-link"><i class="fab fa-github"></i></a>
    <a href="https://www.youtube.com/user/your-channel" target="_blank" class="icon-link"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/your-profile" target="_blank" class="icon-link"><i class="fab fa-linkedin"></i></a>
</div>



<%- include('../partials/footer') %>

