<%- include('../partials/header') %>

<h1>Welcome!</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!--Deqa Yusuf   Student: 301320314-->
<!--Date: October 8th, 2023 -->

<!-- MAIN -->

<div class="container">
    <p>Welcome to my Express Portfolio! Here is where you can learn everything about me!</p>
<p>To learn everything about me <a href="/about">click here</a>!</p>



</div>

<div class="social-icons">
    <a href="https://github.com/your-username" target="_blank" class="icon-link"><i class="fab fa-github"></i></a>
    <a href="https://www.youtube.com/user/your-channel" target="_blank" class="icon-link"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/your-profile" target="_blank" class="icon-link"><i class="fab fa-linkedin"></i></a>
</div>

<%- include('../partials/footer') %>
