
<%- include('../partials/header') %>


<!--Deqa Yusuf   Student: 301320314-->
<!--Date: October 8th, 2023 -->

<!-- MAIN -->

<h1>Welcome to My Projects</h1>


<!-- PROJECT 1 -->

<div class="multiplication">

    <h1>Multiplication Table: </h1>

    <p> Multiplication table that dynamically creates a table on window load event..</p>

    <img src="images/multiply.png" alt="multiplication">


  </div>
  

  <!-- PROJECT 2 -->

  <div class="BugSmash">

    <h1>Bug Smasher: </h1>

    <p>A Bug Smasher game. The speed of the bug increases each time the bug is smashed.</p>

    <img src="images/bugsmasher.png" alt="Bug Smasher">
   
  </div>

  <!-- PROJECT 3 -->
  
  <div class="Gudetama">

    <h1>Gudetama Products: </h1>

    <p>Gudetama Products that are fetched using data in a saved file. </p>

    <img src="images/gudetama.png" alt="Gudetama">
    
  </div>
  

<%- include('../partials/footer') %>
