

<%- include('../partials/header') %>

<!--Deqa Yusuf   Student: 301320314-->
<!--Date: October 8th, 2023 -->
 

<!-- Main-->

<div class="container">

<h1> I offer two different services, below are the servies I provide:</h1>

<!--FIRST CONTAINER FOR MOBILE APP-->

<div class="container1">

  <div class="flip-box">
    <div class="flip-box-inner">

      <!-- FRONT OF FLIP BOX/TEXT-->

      <div class="flip-box-front">
       
      </div>

      <div class="flip-box-back">
      
        <h2>Mobile App Development</h2>
        <p>I offer professional mobile app development services for iOS and Android platforms.</p>
        <p>Contact me for top-notch mobile app solutions.</p>
      </div>
    </div>

  </div>


  <!--SECOND CONTAINER FOR WEB DEV-->

  <div class="container2">
    <div class="flip-box2">
      <div class="flip-box-inner2">

        <!-- FRONT OF FLIP BOX/ TEXT-->

        <div class="flip-box-front2">

        </div>

        <div class="flip-box-back2">
        
          <h2>Web Development</h2>
          
          <p>I offer professional web development services, please contact me for top-notch wed development solutions.</p>
        

        </div>

      </div>
    </div>
  </div>
  
</div>

<%- include('../partials/footer') %>

